<h1 class="heading">Connect Four</h1>
<div class="current-player-container">
  <h3>Current Player:</h3>
  <div class="current-player slot" [ngStyle]="{ background: currentPlayer }">
    <span *ngIf="winningSlots.length">🥇</span>
  </div>
</div>
<div class="user-msg">
  <h3 *ngIf="userMsg.length">{{ userMsg }}</h3>
</div>
<div class="board">
  <div class="row" *ngFor="let row of board; let i = index">
    <div
      class="slot"
      *ngFor="let slot of row; let j = index"
      [ngClass]="slot"
      [ngStyle]="{ background: slot }"
      (click)="slotClicked(i, j)"
    >
      <span *ngIf="winningSlots.includes(i + ',' + j)">🥇</span>
    </div>
  </div>
</div>
