// :host {
//   display: flex;
// }
.heading {
  text-align: center;
}
.board {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 580px;
  background-color: cornflowerblue;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  margin: 10px 0 10px 0;
}
.slot {
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 5px;
  border: 1px solid black;
  &:hover {
    cursor: pointer;
    border: 5px solid gray;
  }
  text-align: center;
  font-size: xxx-large;
}
.row {
  display: flex;
  flex-direction: row;
}
.current-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 580px;
  min-height: 100px;
}

.user-msg {
  display: flex;
  justify-content: center;
  min-height: 30px;
  color: orange;
  font-weight: bolder;
}
